doctype html
html(lang="en")
	head
		title Info-box
		link(rel="stylesheet", href="./build/info-box.min.css")
	body
		.test-container.info-box
		script(data-main="js/main", src="./libs/underscore-min.js")
		script(data-main="js/main", src="./templates/templates.js")
		script(data-main="js/main", src="./build/info-box.min.js")
		script.
			var infoBox = new InfoBox();
			infoBox.initializing();