.info-box-content-container
	img.content-image(src!="images/<%=model.img%>" alt="back-image")
	.content-slide
		.content-cover
			.content-header <%=model.title%>
			.content-body <%=model.description%>
			.content-note <%=model.note%>
		.show-details-block
			.show-details-button show details