@import "nib"

.info-box-container
	position: relative
	height: 92%
	width: 92%
	padding: 4%
	font-family: sans-serif "Arial"
	background-image: url("../images/comp_plate_graybasic.png")
	background-repeat: no-repeat
	background-size: 100% 100%
	user-select: none
	.content-container
		position: relative
		height: 100%
		width: 100%
		.info-box-content-container
			&.full
				.content-image
					opacity: 0
					display: none
				.content-slide
					height: 100%	
					.content-cover
						height: 80%
						bottom: initial
						overflow: hidden
						overflow-y: auto
			.content-image
				width: 107%
				margin: -4%
				border-radius: 4px
				opacity: 1
				top: 0px
				transition: all .256s linear
			.content-slide
				position: absolute
				width: 100%
				height: 41px
				bottom: 0px
				.content-cover
					height: 41px
					overflow: hidden
					position: absolute
					bottom: 48px
					.content-header
						font-size: 14px
						color: orange
						font-weight: 800
					.content-body
						font-size:10px
					.content-note
						font-size:10px
						color: #999
					
				.show-details-block
					height: 45px
					bottom: 0px
					position: absolute
					.show-details-button
						font-size: 9px
						color: orange
						text-decoration: underline
						position: relative
						cursor: pointer
			
		.nav-controls-container
			position: absolute
			bottom: 0px
			width: 100%
			.button
				position: relative
				height: 26px
				width: 68px
				margin: 2px
				cursor: pointer
				&.prev, &.next, &.find
					&:hover
						.title
							color: #fff
							text-shadow: 1px 1px 2px black

				&.prev, &.next
					float: left
					.title
						color: #999
						
				&.prev
					background: url("../images/button_bg_white_left.png") 100% 100% no-repeat  
					&:hover
						background: url("../images/button_bg_orange_left.png") 100% 100% no-repeat 
					.arrow
						position: relative
						float: left
						left: 6px
						top: 8px
						background: url("../images/btn_ic_gray_left.png") 100% 100% no-repeat
					.title
						float: right
					
				&.next
					background: url("../images/button_bg_white_right.png") 100% 100% no-repeat 
					&:hover
						background: url("../images/button_bg_orange_right.png") 100% 100% no-repeat
					.arrow
						position: relative
						float: right
						top: 8px
						right: 4px
						background: url("../images/btn_ic_gray_right.png") 100% 100% no-repeat
					.title
						float: left
						
				&.find
					float: right
					width: 107px
					background: url("../images/button_bg_white_right_long.png") 100% 100% no-repeat
					&:hover
						background: url("../images/button_bg_orange_right_long.png") 100% 100% no-repeat
					.arrow
						position: relative
						float: right
						right: 6px
						top: 8px
						background-image: url("../images/button_right.png")
						background-size: 100% 100%
					.title
						width: 89px
						color: orange
						float: left
					

				.arrow
					width: 12px
					height: 10px
				.title
					height: 26px
					width: 45px
					line-height: 26px
					text-align: center
					font-size: 11px